
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply border-gray-500/70 w-full rounded-md font-sans text-[1rem] focus:ring-1 ring-blue-500/60 focus:drop-shadow-xl;
}

.label {
    @apply block font-sans text-[0.8rem] font-medium mb-[5px];
}

.select {
    @apply border-gray-500/70 w-[48%] rounded-md font-sans text-[0.8rem] focus:ring-1 ring-blue-500/60 focus:drop-shadow-xl font-medium;
}

.option {
    @apply py-[2em];
}

/* Define the keyframes for fade-in-up animation */
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the element */
.animate-fade-in-up {
    animation: fade-in-up 1s ease-in;
}
